<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Todo List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <header><h1>Todo List</h1></header>

    <div id="sidenav">
      <!-- <button id="all-tasks-button"></button>
      <button id="today-tasks-button"></button> -->
      sidenav
    </div>
    <main>Hello World</main>

    <footer>
      <h3>
        &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        Qendrim Behrami
      </h3>
      <a href="https://github.com/QendrimBehrami/Todo-List" target="_blank">
        <i class="fab fa-github"></i
      ></a>
    </footer>
  </body>
</html>
